<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>
            [AutoCore.Game]AutoCore.Game.Packets.Sector.QuickBarUpdatePacket|[AutoCore.Game]AutoCore.Game.Skills.CharacterSkillService|[AutoCore.Game]AutoCore.Game.TNL.TNLConnection
          </Include>
          <Exclude>
            [AutoCore.Game]AutoCore.Game.Skills.CharacterSkillPersistence
          </Exclude>
          <ExcludeByFile>
            **/TNLConnection.cs,**/TNLConnection.Login.cs,**/TNLConnection.Global.cs,**/TNLConnection.FirstTimeFlags.cs
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
