<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>
            [AutoCore.Game]AutoCore.Game.Experience.*|[AutoCore.Game]AutoCore.Game.Packets.Sector.GiveXPPacket|[AutoCore.Game]AutoCore.Game.Packets.Sector.CharacterLevelPacket
          </Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
